.App {
  font-family: sans-serif;
  text-align: center;
  padding-inline-start: 0;
}
h1 {
  text-align: center;
  color: #6ee7b7;
}
input {
  margin-top: 1rem;
  height: 2rem;
  max-width: 50%;
}
hr {
  max-width: 70%;
}
